body {
  display: flex;
  flex-direction: column;
  font-family: "Source Serif Pro", serif;
}
.flexheader {
  display: flex;
  background-color: #19292d;
  color: #dfebed;
  padding: 25px 25px 25px 50px;

 
  justify-content: space-between;
}



#logo {
  padding-right: 20px;
  padding-top: 10px;
}
.logo p {
  float: right;
}

.button ul {
  list-style: none;
  display: flex;
}
.listitem, .listitemportfolio, .listitemabout {
  padding-right: 80px;
  
  flex: auto;
  cursor: pointer;
  transition: text-decoration 1s ease;
}
.listitemportfolio  span, .listitemabout span {
  text-decoration: none;
  color: #dfebed;
  

}
.listitemportfolio a, .listitemabout a {
  text-decoration: none;
}

.listitemportfolio :hover, .listitemabout :hover, .listitem :hover {
text-decoration: underline;
text-decoration-color: #ffad6f;
color: #dfebed;
}

.listitemportfolio span  :active :after. .listitemabout span :active :after {
text-decoration: none;
text-decoration: underline;
color: #dfebed;
}
.flextitle {
  background-image: url(../images/headingbackground.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.title h2,
.title h1 {
  text-align: center;
  margin: 0px;
}

.flexmain h3,
.flexmain p {
  margin-left: 50px;
}

.contactmethod {
  margin: 0 25px ;
  display: flex;
  justify-content: space-around;
  
}
.email1 {
  padding-bottom: 25px;
  display: grid;

  grid-template-columns: 1fr 3fr;
  grid-template-rows: 60px 60px;
  grid-template-areas:
    "icon email"
    "emailaddress emailaddress";

  text-align: left;
  /*align-content: center;*/
  justify-content: center;
}
#icon1 {
  grid-area: icon;
  padding-right: 25px;
}
.email {
  grid-area: email;
  line-height: 60px;
}
.emailaddress {
  grid-area: emailaddress;
}
.linkedin {
  padding-bottom: 25PX;
  display: grid;

  grid-template-columns: 1fr 3fr;
  grid-template-rows: 60px 60px;
  grid-template-areas:
    "linicon linkedin"
    "linaddress linaddress";

  text-align: left;
  /*align-content: center;*/
  justify-content: center;
}

#linicon {
  grid-area: linicon;
  padding-right: 10px;
}
.linkedin1 {
  grid-area: linkedin;
  line-height: 60px;
}
.address {
  grid-area: linaddress;
  }

.address :hover, .emailaddress :hover {
  color: dodgerblue;
  text-decoration-color: dodgerblue;
  
}

.flexfooter {
  background-color: #19292d;
  padding: 20px 50px;
  color: #dfebed;
  display: flex;

  justify-content: space-between;
}
.socialmedia {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.socialmedia1, .socialmedia2 {
    cursor: pointer;
    flex: auto;
    padding-right: 1em;
    transition: color 1s ease;
}

.socialmedia1 :hover, .socialmedia2 :hover {
    color: dodgerblue
}





@media all and (max-width: 600px) {
   .flexheader {
       flex-direction: column;
       
   }
   #logo {
     margin-bottom: 10px;
   }
   .logo p {
     display: none;
   }
    .button ul {
       
        flex-direction: column;
          padding-left: 0px;
    }
    .listitemabout, .listitemportfolio{
      padding-bottom: 25px;
     
   
    }
    .contactmethod {
        flex-direction: column;
        margin-left: 50px;
  
    }
    .flexfooter {
      flex-direction: column;
    }
    .socialmedia {
      flex-direction: column;
    
      padding-left: -20px;
      align-items: start;
          
    }
    .socialmedia1, .socialmedia2 {
      padding-bottom: 20px;
   
    }
    .title h1 {
      font-size: 24px;
    }
    .title h2 {
      font-size: 18px;
  
    }
}
