body {
    font-family: 'Source Serif Pro', serif;
    
}



header {
    background-color: #19292d ;
 
    color: #dfebed;
    padding-top: 10px;
    padding-bottom: 10px;
  
}
.inline-block {
    display: inline-block;
    vertical-align: top;
   
}

.logo {
    width: 44%;
    padding: 1%;
    margin-left: 15px;
}
nav {
    width: 48%;
    padding: 1%;
}

nav ul {
    width: 50%;
    margin-left: auto;
}
ul li {
    padding-right: 25px;
 
}
.heroimg {
    background-color: #19292d;
    /*padding-left: 12%; */
    padding-bottom: 40px;
}
.test{
   text-align: center;

}
.herowordbackground {
    display: inline-block;
    vertical-align: top;
    background-color: #dfebed;
    width: 55%;
    height: 239px;
    margin-left: -7px;
    line-height: 239px;
    text-align: center;

}

.heroword {
    line-height: 1.25;
    vertical-align: middle;
    font-size: 38px;
    padding-left: 20px;
    padding-right: 20px;

}

.heroimg img {
    border: 1px solid #dfebed;

}
.mystory {
    margin-left: 12%;
    margin-right: 12%;
    font-size: 24px;
}
.mystorytitle {
    color: #ffad6f;
    font-weight: 700;
}
.mystory h3 {
    display: inline-block;
    vertical-align: top;
    padding-right: 25px;
    
}
.mystory p {
    text-align: justify;
}
.skill {
    background-color: #dfebed;
    background-image: url(../images/skillimg41.png);
    background-repeat: no-repeat;
    background-position-x: center;
    font-size: 20px;
  
}
.margin {
    margin-left: 12%;
    margin-right: 12%;   
    padding-bottom: 20px;

}
.center {
    text-align: center;
    padding-top: 40px;
     
}

.tool, .design, .other {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    margin-block-start: -1em;

   
}
 .other {
    display: inline-block;
    vertical-align: top;
    width: 41%;
    margin-block-start: -1em;

   
}

.skill ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    
}

.skill li {
    padding: 0px;

}
.tool h3, .design h3, .other h3 {
    text-align: left;
    text-decoration: underline;
}
.education {
    background-color: #f4e7d3;
    background-image: url(../images/educationimage\ 42.png);
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 25px;
    padding-top: 30px;
    margin-bottom: 25px;
    font-size: 20px;

}
.education1 {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    margin-right: 60px;

   
}
 .designation {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    margin-right: 0px;
 }
 footer {
     background-color: #19292d;
     font-size: 22px;
 }
.copyright {
    width: 80%;
    color: #dfebed;
    padding: 1%;
    margin-left: 40px;
}
.socialmedia {
    width: 10%;
    padding: 1%;


}
.socialmedia ul {
    width: 100%;
    margin-right: auto;
    padding-left: 50px;
}
.socialmedia li {
    padding-right: 30px;
}

.socialmedia li :hover {
    color: dodgerblue;
}

.list ul li :hover {
 
text-decoration: underline;
text-decoration-color: #ffad6f;

}
.imgbox {
    display: inline-block;
       border: 1px solid white;
}
.imgbox :hover {
    display: inline-block;
    border: 2px solid #ffad6f;
    border-radius: 50%;
}
